:root { /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
  --color-yellow: #f8d930;
}
* { /*применяется к каждому элементу где стоит стиль- (font-family: "Montserrat", sans-serif;)"шрифт текста гугол" */
  font-family: "Montserrat", sans-serif; /*стиль шрифта гугол*/
  color: #0b141d; /*цвет для всего сайта*/
  scroll-behavior: smooth; /*текст (шрифт текста гугол) для всего сайта*/
}
body {
  background-color: #e1ebf4; /*цвет фона */
  margin: 0; /*убирает отступ с наружи блока 0 (убирает со всех краёв отступ по краям картинке "задний фон")*/
}
/*user agent stylesheet- это браузер гугол хром(он сделал отступ по краям картинке "задний фон")*/

div.container {
  max-width: 1200px; /*максимальная ширина 1200px, шире растягиваться не будет*/
  margin: 0 auto; /*убирает отступ с наружи блока сверх и снизу 0,с право и с лево auto(центровка заднего фона по середине относительно экрана)*/
}
header {
  /*блочный элемент имеет 100% ширины и находится всегда верхним левом углу */
  background-image: url("../images/fon-top.jpg"); /*задний фон (картинка)*/
  background-size: cover; /*растянуть картинку по ширине элемента(элемент-это header "max-width: 1200px + весь экран")*/
  background-position-x: center; /*центровка изображения на картинке по горизонтали(по центру)*/
  height: 100vh; /*высота заднего фона(картинка)*/
  width: 100%; /*ширина заднего фона(картинка)*/
  position: relative; /*родительский элемент, сетка координат для дочернего элементу (основной)*/
}
header nav {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  /*position: fixed; фиксирует элемент при прокрутке в низ (дочерний блок)*/
  top: 45px; /*отступ с верху в низ (настраивается внутри блока) */
  left: 50%; /*отступ с лево "50% от экрана" на право,центровка блока 31,32(дочерний блок)*/
  transform: translateX(-50%); /*изменить сдвиг по Х-су(по ширине),центровка блока 32,31 (дочерний блок)*/
  width: 615px; /*изменяет ширину блока(дочерний блок)*/
}
header nav ul {
  margin: 0; /*убирает отступ или добавляет его с наружи блока  (сверху,справа,снизу,слева,верх ,низ и право,лево)(дочерний блок)*/
  padding: 0; /*убирает отступ или добавляет его внутри блока  (сверху,справа,снизу,слева,верх ,низ и право,лево)(дочерний блок)*/
}
header nav ul li {
  display: inline; /*превращает блочные элементы в строчные (дочерний блок)*/
  padding: 0 10px; /*убирает отступ внутри блока  (с верху и с низу 0px убирает , с право и с лево отступ 10px добавляет )(дочерний блок)*/
}
header nav ul li a {
  text-decoration: none; /*убирает изменение в тексте (убирает подчёркивание и многое другое)(дочерний блок)*/
  font-size: 18px;       /*изменяет размер текста (дочерний блок)*/
}
header nav ul li a:hover { /*hover-изменения текста при наведения мышки (дочерний блок)*/
  text-decoration: underline; /*подчёркивает текс при наведение (дочерний блок)*/
  background-color: #fff;  /*подкрашивает задний фон текста при наведение (дочерний блок)*/
}
header div.logo {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 40px; /*отступ с верху в низ (настраивается внутри блока) */
  left: 33px; /*отступ с лево на право (настраивается внутри блока) */
  font-size: 24px; /*изменяет размер текста (дочерний блок)*/
  text-shadow: 1px 1px var(--color-yellow);/*добавляет цветную тень текста на заднем фоне*/ /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
}
header section.icons {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 30px; /*отступ с верху в низ (настраивается внутри блока) */
  right: 40px; /*отступ с право на лево (настраивается внутри блока) */
}
header section.icons ul li {
  display: inline; /*превращает блочные элементы в строчные (дочерний блок)*/
  padding: 0 7px; /*убирает отступ внутри блока или добавляет его сверху,справа,снизу,слева,или с верху-снизу и с право-лево(дочерний блок)*/
}
header section.icons a {
  text-decoration: none; /*убирает изменение в тексте (убирает подчёркивание и многое другое) работает с SVG иконками тоже (дочерний блок)*/
}
header section.icons svg:hover { /*hover-изменения текста при наведения мышки (дочерний блок)*/
  fill: tomato; /*изменения цвета при наведение курсора*/
}

header section.title {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 207px; /*отступ с верху в низ (настраивается внутри блока) */
  left: 33px; /*отступ с лево на право (настраивается внутри блока) */
}
header section.title h1 {
  font-size: 80px; /*изменяет размер текста (дочерний блок)*/
  text-shadow: 2px 2px var(--color-yellow); /*добавляет цветную тень текста на заднем фоне*/ /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
  font-weight: 600; /*Устанавливает насыщенность шрифта(толщина жирного текста и размер)*/
  font-style: normal; /*Определяет начертание шрифта (normal-обычный)*/
  margin-bottom: 0; /*убирает или добавляет отступ с низу с наруже блока*/
}
header section.title p {
  font-size: 30px; /*изменяет размер текста (дочерний блок)*/
  margin-bottom: 70px; /*убирает или добавляет отступ с низу с наруже блока*/
}

.btn {
  background-color: var(--color-yellow); /*цвет, задний фон */ /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
  padding: 18px 71px; /*убирает отступ внутри блока или добавляет его (сверху,справа,снизу,слева,или с верху-снизу и с право-лево)(дочерний блок)*/
  border-radius: 3px; /*закругление углов внутри блока */
  text-decoration: none; /*убирает изменение в тексте (убирает подчёркивание и многое другое)(дочерний блок)*/
  font-size: 20px; /*изменяет размер текста (дочерний блок)*/
}
.btn:hover { /*hover-изменения текста при наведения мышки (дочерний блок)*/
  background-color: #fded92; /*цвет */
}

/* 2 страница,"Блок обо мне" */
section.about { /*2 страница*/
  background-color: #fff; /*цвет заднего фона*/
  height: 750px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
}
/* 2 страница, левая часть блока */
section.about div.left { /*2 страница левый блок*/
  float: left; /*оптика с лево (переделывает блочный элемент строчный)*/
  width: 750px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 750px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  position: relative; /*родительский элемент, сетка координат для дочернего элементу (основной)*/
}
section.about div.left div.men {
  width: 457px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 740px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  background-image: url("../images/men.png"); /*картинка*/
  background-position-x: -210px; /*сдвинуть изображение на картинке по горизонтали в лево (относительно блока)*/
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  bottom: 0px; /*отступ с низу верх (настраивается внутри блока)(что бы приклеился к нижнему краю)*/
}

.number-all {
  font-weight: 900; /*Устанавливает насыщенность шрифта(толщина жирного текста и размер)*/
  font-size: 80px; /*изменяет размер текста (дочерний блок)*/
  -webkit-text-stroke: 1px #0b141d; /* "127,128стр."делает окантовку элемента цветом(только для гугол хрома)*/
  color: #fff;/* "128,127стр."внутри заливается белый цвет(только для гугол хрома)*/
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 0px; /*отступ с верху в низ (настраивается внутри блока) */
  left: 35px; /*отступ с лево на право (настраивается внутри блока)*/
  line-height: 60px; /*между строчная высота(между каждой строчкой)*/
}

section.about div.left div.number-30 {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  width: 160px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 70px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  top: 220px; /*отступ с верху в низ (настраивается внутри блока) */
  left: 370px; /*отступ с лево на право (настраивается внутри блока) */
}
section.about div.left div.number-30 div.text-top {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 0px; /*отступ с верху в низ (настраивается внутри блока) */
  font-size: 14px; /*изменяет размер текста (дочерний блок)*/
}
section.about div.left div.number-30 div.num {
  left: 35px; /*отступ с лево на право (настраивается внутри блока) */
}
section.about div.left div.number-30 div.text-bottom {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  right: 0px; /*отступ с право на лево (настраивается внутри блока) */
  bottom: 0px; /*отступ с низу верх (настраивается внутри блока) */
  font-size: 14px; /*изменяет размер текста (дочерний блок)*/
}
/* Анимация */

section.about div.left div.number-30:hover { /*hover-изменения текста при наведения мышки (дочерний блок)*/
  cursor: pointer;
  animation: number-30 2s ease-in-out; /*анимация элемента (цифры 30)*/
}

@keyframes number-30 {
  50% {
    /* transform: rotate(90deg); */
    transform: scale(2);
  }
}

/*  */
.two-title {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  width: 250px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 100px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  top: 380px; /*отступ с верху в низ (настраивается внутри блока) */
  left: 425px; /*отступ с лево на право (настраивается внутри блока) */
}
.top-title {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 15px; /*отступ с верху в низ (настраивается внутри блока) */
  font-size: 14px; /*изменяет размер текста (дочерний блок)*/
}

.number {
  font-weight: 900; /*Устанавливает насыщенность шрифта(толщина жирного текста и размер)*/
  font-size: 80px; /*изменяет размер текста (дочерний блок)*/
  -webkit-text-stroke: 1px #0b141d;
  color: #fff;
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 0px; /*отступ с верху в низ (настраивается внутри блока) */
  left: 65px; /*отступ с лево на право (настраивается внутри блока) */
}
.bottom-title {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  bottom: 15px; /*отступ с низу верх (настраивается внутри блока) */
  right: 30px; /*отступ с право на лево (настраивается внутри блока) */
  font-size: 14px; /*изменяет размер текста (дочерний блок)*/
}
.free-title {
  position: relative; /*родительский элемент, сетка координат для дочернего элементу (основной)*/
  width: 320px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 100px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  left: 380px; /*отступ с лево на право (настраивается внутри блока) */
  top: 570px; /*отступ с верху в низ (настраивается внутри блока) */
}
.toptitle {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 15px; /*отступ с верху в низ (настраивается внутри блока) */
  width: 55px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 20px; /*изменяет высоту блока(дочерний блок)*/
}
.number-title {
  font-weight: 900; /*Устанавливает насыщенность шрифта(толщина жирного текста и размер)*/
  font-size: 80px; /*изменяет размер текста (дочерний блок)*/
  -webkit-text-stroke: 1px #0b141d;
  color: #fff; /*цвет*/
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 0px; /*отступ с верху в низ(убирает блоки или добавляет) (дочерний блок) */
  left: 70px; /*отступ с лево на право (настраивается внутри блока) */
}
.bottomtitle {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  bottom: 15px;  /*отступ с низу верх (настраивается внутри блока) */
  width: 115px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 20px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  right: 10px; /*отступ с право на лево (настраивается внутри блока) */
}
          /*      */


/* 2 страница, правая часть блока */
section.about div.right { /*2 страница, правый блок*/
  width: 450px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  float: left; /*оптика с лево (переделывает блочный элемент строчный)*/
  position: relative; /*родительский элемент, сетка координат для дочернего элементу (основной)*/
  height: 750px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
}
section.about div.right h2 {
  font-size: 16px; /*изменяет размер текста (дочерний блок)*/
  text-transform: uppercase; /*изменение текста (uppercase-все буквы большие;lowercase-все буквы маленькие)*/
  font-style: normal; /*Определяет начертание шрифта (normal-обычный)"не жирный" */
  font-weight: 400; /*Устанавливает насыщенность шрифта(толщина жирного текста и размер)*/
  margin: 90px 0 100px 0; /*убирает отступ или добавляет его с наружи блока  (сверху,справа,снизу,слева; верх ,низ и право,лево)(дочерний блок)*/
}
section.about div.right p {
  margin-bottom: 60px; /*убирает или добавляет отступ с низу с наруже блока*/
}
section.about div.right p.description {
  font-size: 30px; /*изменяет размер текста (дочерний блок)*/
  line-height: 140%;/*между строчная высота(между каждой строчкой)*/
}
section.about div.right div.list {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  width: 250px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 220px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  background-image: url("../images/list.jpg"); /*картинка на заднем фоне*/
  background-position-y: 0px; /*сдвинуть изображение на картинке по вертикале вниз */
  right: 0px; /*отступ с право на лево (настраивается внутри блока) */
  bottom: 0px;/*отступ с низу верх (настраивается внутри блока) */
  transform: matrix(-1, 0, 0, 1, 0, 0); /*зеркально развернуть картинку на 180 град. и смешение*/

  /*3 страница (слайдер)*/
}
.slider {
  width: 100%; /*изменяет ширину блока на 100%(дочерний блок или родительский блок)*/
  background-color: #fff; /*цвет */
  /* padding-left: 20px; */
  /* padding-right: 20px;
  box-sizing: content-box; */
  /* height: 500px;
  background-image: url('../images/slide1.jpg');
  background-size: cover; /*растянуть картинку на всю страницу*/
  /* background-position-x: center; */ /*по Х-су(по ширине) центровать картинку*/
}

                /*4 Страница*/
main {
  width: 100%; /*изменяет ширину блока на 100% (дочерний блок или родительский блок)*/
  background-color: #fff; /*цвет (на заднем фоне) */
}
main h2 {
  margin: 0; /*убирает отступ или добавляет его с наружи блока  (сверху,справа,снизу,слева,верх ,низ и право,лево)(дочерний блок)*/
  padding: 90px 0 30px 742px; /*убирает отступ или добавляет его внутри блока  (сверху,справа,снизу,слева,верх ,низ и право,лево)(дочерний блок)*/
  font-size: 16px; /*изменяет размер текста (дочерний блок)*/
  text-transform: uppercase; /*изменение текста (uppercase-все буквы большие;lowercase-все буквы маленькие)*/
  font-style: normal; /*Определяет начертание шрифта (normal-обычный)"не жирный" */
  font-weight: 400; /*Устанавливает насыщенность шрифта(толщина жирного текста и размер)*/
}

table {
  width: 96%; /*изменяет ширину блока на 96% (дочерний блок или родительский блок)*/
  margin: 0 20px; /*убирает отступ или добавляет его с наружи блока  (сверху,справа,снизу,слева,верх ,низ и право,лево)(дочерний блок)*/
}
th {
  text-align: left;  /*сдвинуть текс в левую сторону*(th-по умолчанию центрует текст)/
  font-style: normal; /*Определяет начертание шрифта (normal-обычный)"не жирный" */
  font-weight: normal; /*Устанавливает насыщенность шрифта(толщина жирного текста и размер)*/
  font-size: 30px; /*изменяет размер текста (дочерний блок)*/
}
td,
th {
  border-bottom: var(--color-yellow) 2px solid; /*добавление цвета(border-) к низу(-bottom)таблице*/
}
td {
  height: 117px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
}
.muted {
  color: #b4b4b4; /*серый цвет для текста в ячейках таблицы */
}

         /*5 страница*/
article.foto {
  padding-top: 80px;
  background-color: #fff; /*цвет (задний фон) */
  width: 100%; /*изменяет ширину блока на 100% (дочерний блок или родительский блок)*/
  height: 450px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
}

article.foto .left {
  width: 700px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  /* height: 500px; */
  float: left; /*оптика с лево (переделывает блочный элемент строчный,но при этом добавляет скрытые изменения)*/
}
.row {
  display: flex; /*превращает блочные блоки в строчные (и не только"много что может flex")*/
  margin-bottom: 20px; /*убирает или добавляет отступ с низу с наруже блока*/
}
.foto1,
.foto2,
.foto3,
.foto4,
.foto5,
.foto6 {
  margin-right: 14px; /*убирает или добавляет отступ с право с наружи блока*/
  height: 200px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
}
.left .foto1 {
  width: 262px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  background-image: url("../images/img1.jpg"); /*картинка*/
  background-position-x: center; /*центровка изображения на картинке по горизонтали(по центру)*/
}
.left .foto2 {
  width: 183px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  background-image: url("../images/img2.jpg"); /*картинка*/
  background-position-x: center; /*центровка изображения на картинке по горизонтали(по центру)*/
}
.left .foto3 {
  width: 219px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  background-image: url("../images/img3.jpg"); /*картинка*/
}
.left .foto4 {
  width: 341px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  background-image: url("../images/img4.jpg"); /*картинка*/
  background-position-x: center; /*центровка изображения на картинке по горизонтали(по центру)*/
}
.left .foto5 {
  width: 183px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  background-image: url("../images/img5.jpg"); /*картинка*/
}
.left .foto6 {
  width: 140px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  background-image: url("../images/img6.jpg"); /*картинка*/
  background-position-x: center; /*центровка изображения на картинке по горизонтали(по центру)*/
}
article.foto .right {
  float: right; /*уйти в право*/
  width: 480px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
}
article.foto .right ul {
  list-style-type: none; /*убрать точки в списке текста,изменили стиль текста (через элемент ul)*/
}
article.foto .right p {
  margin-top: 40px; /*убирает или добавляет отступ с верху с наружи блока*/
  margin-left: 40px;/*убирает или добавляет отступ с лево с наружи блока*/
}


         /*6 страница "БЛОГ"*/
article.blog {
  background-color: #fff; /*цвет (задний фон)*/
  height: 1700px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
}

article.blog .left {
  width: calc(1200px - 809px); /*функция калькулятор, делит страницу на 2 блока (левый и правый должно быть width: 809px; ) ""ЭКСПЕРИМЕНТАЛЬНАЯ ФУНКЦИЯ""*/
  float: left; /*оптика с лево (переделывает блочный элемент строчный)*/
}
article.blog h3 {
  margin-top: 50px;   /*убирает или добавляет отступ с верху, с наружи блока*/
  font-style: normal; /*Определяет начертание шрифта (normal-обычный)"не жирный" */
  font-weight: normal; /*Устанавливает насыщенность шрифта(толщина жирного текста и размер)*/
  font-size: 30px; /*изменяет размер текста (дочерний блок)*/
}

article.blog h3,
article.blog p {
  margin-left: 30px; /*убирает или добавляет отступ с лево, с наружи блока*/
}

article.blog .right {
  width: 809px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 304px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  float: right;
  background-image: url("../images/plan1.jpg"); /*картинка*/
}
.height {
  clear: both;  /*убирает симптомы float*/
  height: 100px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  width: 100%; /*изменяет ширину блока на 100% (дочерний блок или родительский блок)*/
}

article.blog .left-2 {
  float: left; /*оптика с лево (переделывает блочный элемент строчный)*/
  width: 727px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 454px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  background-image: url("../images/plan2.jpg"); /*картинка*/
}

article.blog .right-2 {
  float: right; /*оптика с право (переделывает блочный элемент строчный)*/
  width: calc(1200px - 727px); /*функция калькулятор, делит страницу на 2 блока (левый и правый должно быть width: 727px; ) ""ЭКСПЕРИМЕНТАЛЬНАЯ ФУНКЦИЯ""*/
}

article.blog .right-2 h3,
article.blog .right-2 p {
  margin-left: 60px;  /*убирает или добавляет отступ с лево с наружи блока*/
  margin-right: 60px; /*убирает или добавляет отступ с право с наружи блока */
}

article.blog .left-3 {
  float: left; /*оптика с лево (переделывает блочный элемент строчный)*/
  width: calc(1200px - 425px); /*функция калькулятор, длит страницу на 2 блока (левый и правый должно быть width: 425px; ) ""ЭКСПЕРИМЕНТАЛЬНАЯ ФУНКЦИЯ""*/
}

article.blog .right-3 {
  float: right; /*оптика с право (переделывает блочный элемент строчный)*/
  width: 425px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 513px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  background-image: url("../images/plan3.jpg"); /*картинка*/
  background-position-x: center; /*центровка изображения на картинке по горизонтали(по центру)*/
}

article.blog .left-3 h3 {
  margin-top: 100px; /*убирает или добавляет отступ с верху с наружи блока*/
}

article.blog .left-3 h3,
article.blog .left-3 p {
  margin-left: 390px; /*убирает или добавляет отступ с лево с наружи блока*/
}

article.blog .left-3 .list-left {
  width: 247px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 236px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  background-image: url("../images/list.jpg"); /*картинка*/

              /*5 страница (form)*/
}
aside {
  position: relative; /*родительский элемент, сетка координат для дочернего элементу (основной)*/
  width: 100%; /*изменяет ширину блока на 100% (дочерний блок или родительский блок)*/
  height: 690px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  background-image: url("../images/fon-footer.jpg"); /*картинка*/
}
.form {
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  right: 0px; /*отступ с право на лево (настраивается внутри блока) */
  width: 500px; /*изменяет ширину блока (дочерний блок или родительский блок)*/
  margin-top: 170px; /*убирает или добавляет отступ с верху с наруже*/
}
.form div {
  padding: 10px 0 10px 0; /*убирает отступ внутри блока или добавляет его сверху,справа,снизу,слева,или с верху-снизу и с право-лево(дочерний блок)*/
}
.form input {
  color: var(--color-yellow); /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
  background: none; /*убрать задний фон (белый фон кнопки)*/
  border: var(--color-yellow) 2px solid;/*border-задаёт цвет нижней полосы подчёркивания(жёлтый)*/
  width: 80%; /*изменяет ширину блока на 80% (дочерний блок или родительский блок)*/
  height: 25px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  padding: 5px; /*убирает отступ внутри блока или добавляет его сверху,справа,снизу,слева,или с верху-снизу и с право-лево(дочерний блок)*/
  font-size: 16px; /*изменяет размер текста (дочерний блок)*/
}
.form input:focus { /*483,484 при наведения курсора мышки*/
  outline: none;    /*484,483 цвет не будет меняться (none-отключить)*/
}

.form textarea {
  color: var(--color-yellow); /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
  background: none; /*убрать задний фон (белый фон кнопки)*/
  border: var(--color-yellow) 2px solid; /*border-задаёт цвет нижней полосы подчёркивания(жёлтый)*/
  width: 80%; /*изменяет ширину блока на 80% (дочерний блок или родительский блок)*/
  padding: 5px; /*убирает отступ внутри блока или добавляет его сверху,справа,снизу,слева,или с верху-снизу и с право-лево(дочерний блок)*/
  font-size: 16px; /*изменяет размер текста (дочерний блок)*/
}

input::placeholder,     /*подкрашивания цветом текста"что писать"*/
textarea::placeholder { /*подкрашивания цветом текста"что писать"*/
  color: #d4cb95;     /*подкрашивания цветом текста"что писать"*/
}

.form input.submit {
  /* padding: 15px 30px 15px 30px; */
  height: 50px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  width: 82%; /*изменяет ширину блока на82% (дочерний блок или родительский блок)*/
  color: var(--color-yellow); /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
  background: none; /*убрать задний фон (белый фон кнопки)*/
  border: var(--color-yellow) 2px solid; /*border-задаёт цвет нижней полосы подчёркивания(жёлтый)*/
  font-size: 20px; /*изменяет размер текста (дочерний блок)*/
}

        /*6 страница*/
footer {
  background-color: #0c1729; /*цвет заднего фона*/
  height: 230px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  width: 100%; /*изменяет ширину блока на 100% (дочерний блок или родительский блок)*/
  display: flex; /*превращает все блочные(div) в столбик*/
}

footer div,
footer div p,
footer div a {
  width: 100%; /*изменяет ширину блока на 100% (дочерний блок или родительский блок)*/
  color: var(--color-yellow); /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
  /* border: #fded92 1px solid; */
}

.logo-footer,
footer div p,
footer ul,
.visa {
  margin-top: 60px; /*убирает или добавляет отступ с верху с наруже блока*/
}
.logo-footer {
  font-size: 24px; /*изменяет размер текста (дочерний блок)*/
  text-align: center; /*отцентровать текст по середине */
  text-transform: lowercase; /*изменение текста (lowercase-все буквы маленькие;uppercase-все буквы большие)*/
}
footer a {
  text-decoration: none; /*убирает изменение в тексте (убирает подчёркивание и многое другое)(дочерний блок)*/
}
footer ul {
  list-style-type: none; /*убрать точки в списке текста (через элемент ul)*/
}
footer ul li {
  padding-bottom: 10px; /*убирает или добавляет отступ с низу внутри блока*/
}
.visa {
  width: 50px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  margin-left: 40px; /*убирает или добавляет отступ с лево с наруже блока*/
  fill: var(--color-yellow); /*применяется ко всему элементу где стоит стиль (--color-yellow"любое название": #f8d930;)"цвет"*/
}

/* Слайдер */

.slider_wrap {
  /* margin: 100px auto 0; */ 
  width: 100%; /*изменяет ширину блока на 100% (дочерний блок или родительский блок)*/
  height: 700px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  position: relative; /*родительский элемент, сетка координат для дочернего элементу (основной)*/
  overflow: hidden;
}
.slider_wrap img {
  width: 97%; /*изменяет ширину блока на 97% (дочерний блок или родительский блок)*/
  height: auto; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  display: none;
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 0; /*отступ с верху в низ(убирает блоки или добавляет) (дочерний блок) */
  left: 20px; /*отступ с лево на право (настраивается внутри блока) */
}
.slider_wrap img:first-child {
  display: block;
}
.slider_wrap span {
  margin-top: -13px; /*убирает или добавляет отступ с верху с норуже блока*/
  width: 15px; /*изменяет ширину блока(дочерний блок или родительский блок)*/
  height: 26px; /*изменяет высоту блока(дочерний блок или родительский блок)*/
  display: block;
  position: absolute; /*дочерний элемент(блок)настраивается по родительскому элементу,после водим координаты блока (второстепенный)*/
  top: 50%; /*отступ с верху в низ(убирает блоки или добавляет) (дочерний блок) */
  cursor: pointer;
  background: url(../images/slider2_arrow.png) no-repeat;
}
.slider_wrap span.next {
  right: 0; /*отступ с право на лево (настраивается внутри блока) */
  background-position: -15px 0;
}
.slider_wrap span.next:hover { /*hover-изменения текста при наведения мышки (дочерний блок)*/
  background-position: -15px -26px;
}
.slider_wrap span.prev {
  left: 0; /*отступ с лево на право (настраивается внутри блока) */
  background-position: 0 0;
}
.slider_wrap span.prev:hover { /*hover-изменения текста при наведения мышки (дочерний блок)*/
  background-position: 0 -26px;
}
